html {
    font-size: 62.5%;
    text-size-adjust: 100%;
    line-height: 1.15;
}

body {
    background: rgb(249, 250, 252);
    font-family: "Open Sans", sans-serif;
    line-height: 1.5;
    padding: 50px 0px;
    font-smooth: antialiased;
}

section > header {
  margin: 0 auto;
  max-width: 650px;
  padding: 0 50px 50px;
  text-align: center;
}

.subtext {
  margin: 0px !important;
  padding-bottom: 1.2em;
}

.header a {
  border: 1px solid #bfc8d2;
  border-radius: 15px;
  color: #3e465b;
  display: inline-block;
  margin: 5px;
  padding: 5px 10px;
  text-decoration: none;
}

svg {
display: inline-block;
height: 20px;
margin-right: 5px;
stroke: #6e849c;
vertical-align: middle;
width: 24px;
}

&:hover {
border-color: #3e465b;
}

.headimg {
  border: 5px solid #3598db;
  border-radius: 50%;
  height: 150px;
  margin: 0 auto 15px auto;
  overflow: hidden;
  width: 150px;

  img {
    padding: 5px;
    border-radius: 50%;
    max-width: 100%;
    border-style: none;
    width: 140px;
    height: 140px;
  }
}

.page-links {
    border: 1px solid rgb(191, 200, 210);
    border-radius: 15px;
    color: rgb(62, 70, 91);
    display: inline-block;
    margin: 5px;
    padding: 5px 10px;
    text-decoration: none;
}

section {
    margin: 0px auto;
    max-width: 890px;
}

.article-block {
    text-align: center;
    display: block;
}

.articles {
    background: rgb(255, 255, 255);
    border: 1px solid rgb(224, 230, 237);
    box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 5px;
    margin-bottom: 30px;
    padding: 50px 75px;
}

.article-heading {
    color: rgb(62, 70, 91);
    font-size: 35px;
    line-height: 1.5;
    margin: 0px;
    padding: 0px 30px;
    text-align: center;
}

.head-date {
    color: rgb(102, 109, 113);
    display: block;
    font-size: 1.6em;
    margin: 0px;
    text-align: center;
}

.article-text {
    color: rgb(102, 109, 113);
    display: block;
    font-size: 1.6em;
    margin: 50px 0px 0px;
    text-align: center;
}

p {
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    unicode-bidi: isolate;
}

.continue-reading {
    color: rgb(102, 109, 113);
    display: inline-block;
    font-size: 14px;
    margin-top: 50px;
    text-decoration: none;
}

.cls-1{
    fill-rule:evenodd;
}
